.title {
    font-size: 2.3rem;
    font-weight: 600;
}


.input,
.button {
    all: unset;
    border-radius: 1rem;
    padding: 1.3rem;
    box-shadow: 13px 13px 36px var(--color-shadow);
}

.input,
.button {
    font-size: 1.5rem;
    background-color: var(--bg-color);
}

.label,
.button {
    cursor: pointer;
    font-weight: 600;
    font-size: 1.7rem;
    margin-bottom: 0.7rem;
    letter-spacing: 1.2px;
}

.input {
    width: calc(100% - 2.6rem);
}

.button,
.button:hover,
.task-action:hover,
.task-action,
.button:disabled {
    transition: .5s;
}

.button {
    width: calc(70% - 2.6rem);
    text-align: center;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.button:hover,
.task-action:hover {
    transform: scale(1.06);
    letter-spacing: .2px;
}

.link {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    letter-spacing: -0.2px;
}

.form {
    width: 27%;
}


.form,
.modal-content {
    padding: 3rem;
    border-radius: 15px;
}

.form {
    background: var(--bg-color);
    box-shadow: var(--double-shadow);
    margin-top: 2.5rem;
}

.input-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.8rem;
    width: 100%;
}

.button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.span-error {
    color: var(--red-action);
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
}

.input-error {
    /* border: 1.12px solid var(--red-action); */
    box-shadow: 1px 13px 20px #ae00005c;
}

@media (max-width:1150px) {
    .form {
        width: 60%;
    }
}

@media (max-width:600px) {
    .form {
        width: 87%;
    }
}

@media (max-width:360px) {
    .form {
        width: 100%;
        box-shadow: none;
        background-color: transparent;
    }

    .title {
        font-size: 2rem;
    }

}