body {
    --white: #fff;
    --black: #000;
    --lightgray: #b8b8b8;
    --text-color: #262626;
    --bg-color: #e0e0e0;
    --color-shadow: #acacac;
    --double-shadow: 13px 13px 36px var(--color-shadow), -13px -13px 36px var(--white);
    --red-action: #ae0000;
}