.page-tasks {
    padding: 5rem;
    position: relative;
}

.tasks-header {
    position: sticky;
    top: 0;
    z-index: 2;
    width: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.06);
    box-shadow: 13px 13px 36px -10px rgba(172, 172, 172, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.8rem
}

.tasks-header-button {
    width: 15% !important;
    margin: 0 !important;
}

.form-task,
.tasks-list {
    width: 50%;
}

.input-button-task {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.8rem;
}

.input-task {
    margin-bottom: 1.8rem;
}

.tasks-list,
.tasks-row {
    border-radius: 15px;

}



.tasks-list {
    padding: 3rem;
    box-shadow: var(--double-shadow);
    background: var(--bg-color);
    margin-top: 2.5rem;
}

.tasks-row {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.06);
    margin-top: 1.3rem;
    padding: 1.3rem;
}

.task-description {
    width: 88%;
    font-size: 1.6rem;
    margin-right: 1.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-actions {
    width: 12%;
    display: flex;
    justify-content: space-between;
}

.task-action {
    cursor: pointer;
}

.task-action:nth-child(1) {
    color: var(--red-action);
}